* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: 'Noto Sans Thai', sans-serif;
}

header {
    background-color: rgb(39, 85, 145);
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: white;
  }

.menu-bar {
    background: rgb(39, 85, 145);
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color:  #fff;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}

.home, .menu-bar ul li:hover {
    background: #e4b005;
    border-radius: 3px;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: rgb(39, 85, 145);
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    text-align: left;
}

.sub-menu-2 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-2 {
    display: block;
    position: absolute;
    background: rgb(39, 85, 145);
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-2 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-2 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    text-align: left;
}



article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 5;
    background-color: white;
    font-size: 20px;
    padding: 10px;
}

.news h2 {
    padding: 1em 10% 0 10%;
    color: rgb(39, 85, 145);
    text-align: left;
    font-weight: normal;
}
.news div {
    padding: 0 15% 0 15%;
}
.news h5 { 
    color: rgb(39, 85, 145);
    text-align: left;
    padding: 10px;
    border-bottom: 1px  rgb(39, 85, 145) ;
}
.news img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
}
.news h4 {
    padding-left: 25%;
    color: rgb(39, 85, 145);
    font-size: 15px;
}
.news h4 a {
    color: rgb(230, 105, 21);
    text-decoration: none;
}
.news h4 a:hover {
    color:rgb(255, 255, 255);
}

footer {
    display: block;
    background-color: rgb(39, 85, 145);
    padding: 10px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
  }

  @media screen  {

  }
