/*personnel*/
.professor{
    padding-left: 20px;
    padding-right: 20px;
}
.professor h3{
    padding-top: 10px;

    border-bottom: rgb(39, 85, 145) 1px solid;
    color: rgb(39, 85, 145);
    font-weight: bold;

}
#profile{
    float: left;
    height: 10em;
    margin: 20px 20px 0 20px;
}
.border{
    padding-left: 20%;
}
#text{
    padding: 20px 0 0;
    border-bottom:rgb(39, 85, 145) 1px solid;
    color: rgb(39, 85, 145);
    font-weight: bold;
}
div section li{
    padding-left: 10px;
    padding-bottom: 10px;
    padding: 10px;
}

@media screen and (max-width: 400px) {
    .professor{
        padding: 0 20px;
    }
     .professor h3{
        font-size: 10px;
        padding-left: 10px;
        font-weight: bold;
        color: rgb(39, 85, 145);
        border-bottom: 1px rgb(39, 85, 145) solid;
     }
    #profile{
            height: 10em;
            width: 5em;
    }
    .border{
        padding-left:40%;
        padding-right: 30px
    }
    #name{
        font-size: 10px;
    }
    p{
        font-size: 10px;
    }
    li{
        font-size: 10px;
    }
    .contact #c{
        padding-bottom: 10px;
    }    
    }
    @media screen and (min-width: 400px) and (max-width: 500px){
        .professor{
            padding: 0 20px;
        }
         .professor h3{
            font-size: 15px;
            padding-left: 10px;
            font-weight: bold;
            color: rgb(39, 85, 145);
            border-bottom: 1px rgb(39, 85, 145) solid;
         }
        #profile{
                height: 10em;
                width: 6em;
        }
        .border{
            padding-left:40%;
            padding-right: 30px
        }
        #name{
            font-size: 12px;
        }
        p{
            font-size: 12px;
        }
        li{
            font-size: 12px;
        }
        .contact #c{
            padding-bottom: 10px;
        }    
    }
    @media screen and (min-width: 600px) and (max-width: 1100px){
        .professor{
            padding-left: 30px ;
            padding-right: 30px;
        }
        .professor h3{
            font-size: 20px;
            border-bottom: 1px rgb(39, 85, 145) solid;
            color: rgb(39, 85, 145);
        }
        #profile{
            height: 15em;
            width: 10em;
        }
        .border{
            padding-left: 30%;
            padding-right: 30px;
        }
        #name{
           font-size: 20px;
        }
    }
    