/*professsor*/
section{
    padding: 10px 20px 10px 20px;
}
section .d1{
    color: rgb(39, 85, 145);
    border-bottom: 1px rgb(39, 85, 145) solid;
    font-weight: bold;
}
.d2{
    padding: 1px 10% 0 10%;
}
.d2 .d3{
    color: rgb(39, 85, 145);
    border-bottom: 1px rgb(39, 85, 145) solid;
    font-weight: bold;
}
#dl4{
    height: 20px;
    width: 20px
}
.d2 li{
    list-style: none;
    padding-left: 10px;
}
.d2 a{
    color:rgb(39, 85, 145);
    text-decoration: none;
}
a:hover{
    color: #e4b005;
}

/*collegian*/
#blue{
    padding-left: 10px;
    color: darkblue;
}
#red{
    color: rgb(230, 79, 33);
}
#blue:hover{
    color: green;
}
#red:hover{
    color:green;
}
.d5{
    padding-left: 20%;
    padding-right: 20%;
}
.d5 .d6{
    color: rgb(39, 85, 145);
    border-bottom: 1px rgb(39, 85, 145) solid;
    font-weight: bold;
}
.d5 li{
    list-style: none;
    padding-left: 10px;
}
.d5 a{
    color: black;
    text-decoration: none;
}
.d5 a:hover{
    color: orange;
}

@media screen and (min-width: 400px) and (max-width: 500px){
      section .d1{
          font-size: 15px;
      }
      .d3{
          font-size: 12px;
      }
      .d6{
           font-size: 12px;
      }
      li{
          font-size: 11px;
      }
  }
@media screen and (min-width: 600px) and (max-width: 1100px){
    section .d1{
      font-size: 20px;
  }
  .d3{
      font-size: 18px;
  }
  .d6{
       font-size: 18px;
  }
  li{
      font-size: 17px;
  }
}